body {
  margin: 2;
  padding: 0;
  background-color: rgb(138, 138, 138);
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: 'Open Sans',sans-serif;
}


section {
  display: inline-block;
  width: 100%;
  padding-left: 2%;
}
table {
  margin-right: 5%;
  width: 93%;
}
@media (min-width: 780px) {
  section {
    width: 48%;
  }
}