body {
  margin: 2;
  padding: 0;
  background-color: #151515;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}


section {
  display: inline-block;
  width: 100%;
  padding-left: 2%;
}
table {
  margin-right: 5%;
  width: 93%;
}
@media (min-width: 640px) {
  section {
    width: 48%;
  }
}